.idea/
.vscode/
.DS_Store/
model/
models/__pycache__/
GPT_logs/
errors/
frontend/web/
records/
summary/
wandb/
utils/__pycache__/
scripts/
logs_case_study/
logs_transfer/
records_case_study/
records_transfer/
memory/
*.sh
/*.txt
*.pyc
*.pkl
playground*
